body {background-color: #33479d;}

h1{
	font-family: 'Raleway', sans-serif;
}

.veronica {
	text-align: left;
	color: #e7785d;
	font-size: 65px;
	margin: 20px;
}

.sarah{
	text-align: right;
	color: white;
	font-size: 65px;
	margin: 20px;
}

.text{
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

	#link1 {
		color:#e7785d;
		transition: color 0.2s;
	}
	#link1:hover { color:#f5cf5d; }

	#link2 { 
		color:white;
		transition: color 0.2s;
	}
	#link2:hover { color:#f5cf5d; }

	#link3 {
		color:white;
		transition: color 0.2s;
	}
	#link3:hover { color:#f5cf5d; }