body {background-color: #e7785d;}

p {
	font-family: 'Raleway', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
	.designs {
		display: flex;
		justify-content: space-around;

		margin: 60px;
	}

		.design1 {
			flex:1;
		}
			.textbox1 {
				background-color: #f5cf5d;

				height: 550px;
				width: 450px;

				position: absolute;
				z-index: 0;
				top: 68px;
			}
				#title1 {
					font-style: italic;

					font-size: 35px;
					color: white;
					padding-right: 25px;
					padding-left: 30px;
					margin-bottom: 10px;
					margin-top: 28px;
				}
				#text1 {
					font-size: 18px;
					color: white;
					padding-right: 55px;
					padding-left: 50px;
				}

			.pic1 {
				height: 550px;
				width: 450px;

				position: relative;
				z-index: 1;

				padding-right: 10px;

				transition: opacity 0.3s;
			}
				.pic1:hover {
					opacity: 0;
				}

		.design2 {
			flex:1;
		}
			.textbox2 {
				background-color: white;

				height: 550px;
				width: 450px;

				margin-left: 10px;
				margin-right: 10px;

				position: absolute;
				z-index: 0;
				top: 68px;
			}
				#title2 {
					font-style: italic;

					font-size: 35px;
					color: #e7785d;
					padding-right: 25px;
					padding-left: 30px;
					margin-bottom: 20px;
					margin-top: 28px;
				}
				#text2 {
					font-size: 18px;
					color: #e7785d;
					padding-right: 55px;
					padding-left: 50px;
				}

			.pic2 {
				height: 550px;
				width: 450px;

				padding-left: 10px;
				padding-right: 10px;

				position: relative;
				z-index: 1;

				transition: opacity 0.3s;
			}
				.pic2:hover {
					opacity: 0;
				}

		.design3 {
			flex:1;
		}
			.textbox3 {
				background-color: #33479d;

				height: 550px;
				width: 450px;

				margin-left: 10px;

				position: absolute;
				z-index: 0;
				top: 68px;
			}
				#title3 {
					font-style: italic;

					font-size: 35px;
					color: white;
					padding-right: 25px;
					padding-left: 30px;
					margin-bottom: 20px;
					margin-top: 28px;
				}
				#text3 {
					font-size: 18px;
					color: white;
					padding-right: 55px;
					padding-left: 50px;
				}

			.pic3 {
				height: 550px;
				width: 450px;

				padding-left: 10px;

				position: relative;
				z-index: 1;

				transition: opacity 0.3s;
			}
				.pic3:hover {
					opacity: 0;
				}