body {background-color: #f5cf5d;
	/*background-image: url("paper.jpg")*/;
}

h1{
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}

.container {
	display: flex;
}

.container2 {
	flex:4;

	display: flex;
}

.container1 {
	flex: 6;

	display: flex;
	flex-direction: column;

  	justify-content: space-between;
  	align-items: flex-start;

  	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

	.quotes {
		display: flex;
		flex-direction: column;
		font-size: 16px;
	}

		.quote1 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
		}
			.quote1:hover {
				font-size: 30px;
				color: #33479d;
			}

		.quote2 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
		}
			.quote2:hover {
				font-size: 30px;
				color: #e7785d;
			}
			#author2 {
				font-style: italic;
				font-size: 30px;
			}

		.quote3 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
		}
			.quote3:hover {
				font-size: 30px;
				color: #33479d;
			}
			#author3 {
				font-style: italic;
				font-size: 30px;
			}

		.quote4 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
		}
			.quote4:hover {
				font-size: 30px;
				color: #e7785d;
			}
			#author4 {
				font-style: italic;
				font-size: 30px;
			}

		.quote5 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
		}
			.quote5:hover {
				font-size: 30px;
				color: #33479d;
			}
			#author5 {
				font-style: italic;
				font-size: 30px;
			}