body {background-color: #f5cf5d;
	/*background-image: url("paper.jpg")*/;
}

h1{
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}

.container {
	display: flex;
}

	.container1 {
		flex:1;
		display: flex;
	}

	.container3 {
		flex:2;
		display: flex;
	}

.container2 {
	flex: 6;

	display: flex;
	flex-direction: column;

  	justify-content: space-between;
  	align-items: flex-start;

  	margin-top: 80px;
	margin-bottom: 60px;
	/*margin-left: 50px;
	margin-right: 50px;*/
}

	.quotes {
		display: flex;
		flex-direction: column;
		font-size: 16px;
	}

		.quote1  {
			color: white;
			padding-bottom: 25px;
			text-align: left;

			transition: font-size 0.2s;
		}

		#quotelink1 {
			color: white;
			transition: font-size 0.2s;
		}
			#quotelink1:hover {
				font-size: 50px;
				color: #33479d;
			}

		.quote2 {
			color: white;
			padding-bottom: 25px;
			text-align: left;

			transition: font-size 0.2s;
		}
			.quote2:hover {
				font-size: 25px;
				color: #e7785d;
			}
			#author2 {
				font-style: italic;
				font-size: 30px;
			}

		.quote3 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
			transition: font-size 0.2s;
		}
			.quote3:hover {
				font-size: 25px;
				color: #33479d;
			}
				#quotelink3 {
					color: white;
					transition: font-size 0.2s;
				}
				#quotelink3:hover {
					font-size: 50px;
					color: #33479d;
				}
			#author3 {
				font-style: italic;
				font-size: 30px;
			}

		.quote4 {
			color: white;
			padding-bottom: 25px;
			text-align: left;

			transition: font-size 0.2s;
		}
			.quote4:hover {
				font-size: 25px;
				color: #e7785d;
			}
			#author4 {
				font-style: italic;
				font-size: 30px;
			}

		.quote5 {
			color: white;
			padding-bottom: 25px;
			text-align: left;
			transition: font-size 0.2s;
		}
			.quote5:hover {
				font-size: 25px;
				color: #33479d;
			}
				#quotelink5 {
					color: white;
					transition: font-size 0.2s;
				}
				#quotelink5:hover {
					font-size: 50px;
					color: #33479d;
				}
			#author5 {
				font-style: italic;
				font-size: 30px;
			}