body {background-color: #f5cf5d;}

.container {
	display: flex;
	justify-content: space-around;
/*	align-items: center;
	flex-direction: column;*/
}

	.spreads {
		display: flex;
/*		justify-content: space-around;*/
		flex-direction: column;
	}

		.spread1 {
			flex:1;
		}
			.pic1 {
				height:600px;
				width:860px;
				position: relative;
				z-index: 0;

				margin-top: 50px;
				margin-bottom: 25px;
			}
			.box1 {
				background-color: white;
				height:600px;
				width:860px;

				position: absolute;
				z-index: 1;

				margin-top: 50px;
				margin-bottom: 25px;
			}
				.box1:hover {
					opacity: 0;
				}

		.spread2 {
			flex:1;
		}
			.pic2 {
				height:600px;
				width:860px;
				position: relative;
				z-index: 0;

				margin-top: 25px;
				margin-bottom: 25px;
			}
			.box2 {
				background-color: #e7785d;
				height:600px;
				width:860px;

				position: absolute;
				z-index: 1;

				margin-top: 25px;
				margin-bottom: 25px;
			}
				.box2:hover {
					opacity: 0;
				}

		.spread3 {
			flex:1;
		}
			.pic3 {
				height:600px;
				width:860px;

				position: relative;
				z-index: 0;

				margin-top: 25px;
				margin-bottom: 50px;
			}
			.box3 {
				background-color: #33479d;
				height:600px;
				width:860px;

				position: absolute;
				z-index: 1;

				margin-top: 25px;
				margin-bottom: 50px;
			}
				.box3:hover {
					opacity: 0;
				}